<main>
    <div class="container-fluid">
        <div class="my-4">
            <h1 class="text-primary">Manage Live Videos</h1>
        </div>

        <div class="row">
            <div class="col-xl-12 col-md-12">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span><i class="fas fa-wifi mr-1"></i>
                            Live Videos</span>
                        <a routerLink="/admin/content/add-videos" class="btn text-white btn-success rounded-pill px-3">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Videos</a>
                    </div>


                    <div class="card-body">
                        <div class="row justify-content-between search-card">
                            <div class="col-sm-12 col-md-6 col-lg-3">
                                <label class="mb-0 mr-2">Categroy </label>

                                <select name="dataTable_length" aria-controls="dataTable" class="form-control form-control-sm" tabindex="-98">
                                    <option value="10"> Category </option>
                                    <option value="25">Created Date</option>
                                    <option value="50">Published Date</option>
                                    <option value="25">Visibility</option>
                                    <option value="50">Title</option>
                                    <option value="50">Id</option>
                                    <option value="50">Deleted</option>
                                </select>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-3">
                                <label class="mb-0 mr-2">Show </label>

                                <select name="dataTable_length" aria-controls="dataTable" class="form-control form-control-sm" tabindex="-98">
                                    <option value="10">5</option>
                                    <option value="25">10</option>
                                    <option value="50">20</option>
                                </select>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-3">
                                <label class="mb-0 mr-2">Filter </label>

                                <select name="dataTable_length" aria-controls="dataTable" class="form-control form-control-sm" tabindex="-98">
                                    <option value="10">Live</option>
                                    <option value="25">Recorded</option>
                                    <option value="50">20</option>
                                </select>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-3 form-group">
                                <label class="mb-0 mr-2">Search </label>

                                <input type="search" class="form-control form-control-sm" placeholder="Enter Video Name" aria-controls="">
                            </div>
                        </div>

                        <div class="row justify-content-between search-card">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Video</th>
                                                <th>Source</th>
                                                <th>Video Title</th>
                                                <th>Description</th>
                                                <th>Taught By</th>
                                                <th>Category</th>
                                                <th>Visibility </th>
                                                <th>Published At</th>

                                                <th>Status</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <div class="user-card d-flex align-items-center">
                                                        <div class="user-view">
                                                            <img src="./assets/images/user-avatar.jpeg" class="img-fluid mr-3" width="80">
                                                            <p><b>Course Name</b></p>
                                                            <p>
                                                                3:00 pm
                                                            </p>
                                                        </div>

                                                    </div>
                                                </td>
                                                <td>AWS</td>
                                                <td>Video Name</td>
                                                <td>Video Descrioption</td>
                                                <td>Mr. Avinash</td>
                                                <td><button tooltip="Recorded:1, Public : 1 " placement="top">Live +1</button></td>
                                                <td>
                                                    Public
                                                </td>
                                                <td>
                                                    <p>24/03/2021</p>
                                                    <p>03:00</p>
                                                </td>
                                                <td>
                                                    <label class="switch">
                                                        <input type="checkbox" checked="">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </td>
                                                <td class="text-right">
                                                    <ul class="navbar-nav ml-auto">
                                                        <li class="nav-item">
                                                            <a class="btn btn-primary" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i> </a>

                                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                                                <a href="" class="dropdown-item">
                                                                    <i class="fas fa-eye btn btn-primary" title="View User"></i> </a>
                                                                <a href="" class="dropdown-item">
                                                                    <i class="fas fa-edit btn btn-success" title="Edit User"></i></a>
                                                                <a href="" class="dropdown-item">
                                                                    <i class="fas fa-trash btn btn-danger" title="Delete User"></i></a>

                                                                <a href="" class="dropdown-item" data-toggle="modal" data-target="#showVideo">
                                                                    <i class="fa fa-video-camera btn btn-info" title="Delete User"></i></a>
                                                            </div>
                                                        </li>
                                                    </ul>

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="showVideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Video Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="./assets/images/user-avatar.jpeg" class="img-fluid mr-3">
                        </div>
                        <div class="col-md-9">
                            <h3>Title : Video1</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="info mt-3 pl-3">
                                    <div>
                                        <label class=""> <b>Descripotion:   </b>  <p>Some Random Text</p></label>
                                    </div>
                                    <div>
                                        <label class=""> <b>Category:   </b>  <p>AWS</p></label>
                                    </div>
                                    <div>
                                        <label class=""> <b>Duration:   </b>  <p>03:00</p></label>
                                    </div>
                                    <div>
                                        <label class=""> <b>Published at:   </b>  <p> 24/03/2021</p></label>
                                    </div>
                                    <div>
                                        <label class=""> <b>Visibility:   </b>  <p>Public</p></label>
                                    </div>
                                    <div>
                                        <label class=""> <b>url:   </b>  <p>Some Random url</p></label>
                                    </div>

                                </div>


                            </div>

                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</main>