.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.text-right .fas,
.text-right .fa {
    margin-right: 5px;
}

i.fas.fa-trash.btn.btn-danger {
    font-size: 24px;
}

.user-card p {
    margin: 0;
}

.dropdown-menu.dropdown-menu-right {
    min-width: 6rem !important;
}