<main>
    <div class="container-fluid">
        <div class="my-4">
            <h1 class="text-primary">Manage Live Videos</h1>
        </div>

        <div class="row">
            <div class="col-xl-12 col-md-12">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span><i class="fas fa-wifi mr-1"></i>
                            Live Videos</span>
                        <a routerLink="/admin/content/add-videos" class="btn text-white btn-success rounded-pill px-3">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Videos</a>
                    </div>


                    <div class="card-body">
                        <div class="row justify-content-between search-card">
                            <div class="col-sm-12 col-md-6 col-lg-3">
                                <label class="mb-0 mr-2">Show </label>

                                <select name="dataTable_length" aria-controls="dataTable" class="form-control form-control-sm" tabindex="-98">
                                <option value="10">5</option>
                                <option value="25">10</option>
                                <option value="50">20</option>
                            </select>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-3 form-group">
                                <label class="mb-0 mr-2">Search </label>

                                <input type="search" class="form-control form-control-sm" placeholder="Enter Video Name" aria-controls="">
                            </div>
                        </div>

                        <div class="row justify-content-between search-card">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Video</th>
                                                <th>Video Title</th>
                                                <th>Taught By</th>
                                                <th>Live Date</th>
                                                <th>Live Time</th>
                                                <th>Status</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <div class="user-card d-flex align-items-center">
                                                        <div class="user-view">
                                                            <img src="./assets/images/user-avatar.jpeg" class="img-fluid mr-3" width="80">
                                                        </div>

                                                    </div>
                                                </td>
                                                <td>Course Name</td>
                                                <td>Mr. Avinash</td>
                                                <td>24/03/2021</td>
                                                <td>03:00 pm</td>
                                                <td>
                                                    <label class="switch">
                                                       <input type="checkbox" checked="">
                                                       <span class="slider round"></span>
                                                    </label>
                                                </td>
                                                <td class="text-right">
                                                    <a href="" class="btn btn-primary">
                                                        <i class="fas fa-eye" title="View User"></i>
                                                    </a>
                                                    <a href="" class="btn btn-success">
                                                        <i class="fas fa-edit" title="Edit User"></i></a>
                                                    <a href="" class="btn btn-danger">
                                                        <i class="fas fa-trash" title="Delete User"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <div class="user-card d-flex align-items-center">
                                                        <div class="user-view">
                                                            <img src="./assets/images/user-avatar.jpeg" class="img-fluid mr-3" width="80">
                                                        </div>

                                                    </div>
                                                </td>
                                                <td>Course Name</td>
                                                <td>Mr. Avinash</td>
                                                <td>24/03/2021</td>
                                                <td>03:00 pm</td>
                                                <td>
                                                    <label class="switch">
                                                       <input type="checkbox" checked="">
                                                       <span class="slider round"></span>
                                                    </label>
                                                </td>
                                                <td class="text-right">
                                                    <a href="" class="btn btn-primary">
                                                        <i class="fas fa-eye" title="View User"></i>
                                                    </a>
                                                    <a href="" class="btn btn-success">
                                                        <i class="fas fa-edit" title="Edit User"></i></a>
                                                    <a href="" class="btn btn-danger">
                                                        <i class="fas fa-trash" title="Delete User"></i></a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <div class="user-card d-flex align-items-center">
                                                        <div class="user-view">
                                                            <img src="./assets/images/user-avatar.jpeg" class="img-fluid mr-3" width="80">
                                                        </div>

                                                    </div>
                                                </td>
                                                <td>Course Name</td>
                                                <td>Mr. Avinash</td>
                                                <td>24/03/2021</td>
                                                <td>03:00 pm</td>
                                                <td>
                                                    <label class="switch">
                                                       <input type="checkbox" checked="">
                                                       <span class="slider round"></span>
                                                    </label>
                                                </td>
                                                <td class="text-right">
                                                    <a href="" class="btn btn-primary">
                                                        <i class="fas fa-eye" title="View User"></i>
                                                    </a>
                                                    <a href="" class="btn btn-success">
                                                        <i class="fas fa-edit" title="Edit User"></i></a>
                                                    <a href="" class="btn btn-danger">
                                                        <i class="fas fa-trash" title="Delete User"></i></a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    <div class="user-card d-flex align-items-center">
                                                        <div class="user-view">
                                                            <img src="./assets/images/user-avatar.jpeg" class="img-fluid mr-3" width="80">
                                                        </div>

                                                    </div>
                                                </td>
                                                <td>Course Name</td>
                                                <td>Mr. Avinash</td>
                                                <td>24/03/2021</td>
                                                <td>03:00 pm</td>
                                                <td>
                                                    <label class="switch">
                                                       <input type="checkbox" checked="">
                                                       <span class="slider round"></span>
                                                    </label>
                                                </td>
                                                <td class="text-right">
                                                    <a href="" class="btn btn-primary">
                                                        <i class="fas fa-eye" title="View User"></i>
                                                    </a>
                                                    <a href="" class="btn btn-success">
                                                        <i class="fas fa-edit" title="Edit User"></i></a>
                                                    <a href="" class="btn btn-danger">
                                                        <i class="fas fa-trash" title="Delete User"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>