<main>
    <div class="container-fluid">
        <div class="my-4">
            <h1 class="text-primary">Offers</h1>
        </div>

        <div class="row">
            <div class="col-xl-12 col-md-12">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span><i class="fas fa-chalkboard-teacher mr-1"></i>
                            Offers</span>
                        <a routerLink="/admin/add-offer" class="btn text-white btn-success rounded-pill px-3">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Offers</a>
                    </div>


                    <div class="card-body">

                        <div class="row justify-content-between search-card">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Course Type</th>
                                                <th>Course Name</th>
                                                <th>Price</th>
                                                <th>Offer Price</th>
                                                <th>Offer Code</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Status</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Combo</td>
                                                <td>UPSSSC JE Civil eng Lecture - 1</td>
                                                <td>Rs.2000</td>
                                                <td>Rs.1500</td>
                                                <td>012345</td>
                                                <td>21 Feb 2021</td>
                                                <td>21 March 2021</td>
                                                <td>
                                                    <label class="switch">
                                                   <input type="checkbox" checked="">
                                                   <span class="slider round"></span>
                                                </label>
                                                </td>
                                                <td class="text-right">
                                                    <a href="" class="btn btn-primary">
                                                        <i class="fas fa-eye" title="View User"></i>
                                                    </a>
                                                    <a href="" class="btn btn-success">
                                                        <i class="fas fa-edit" title="Edit User"></i></a>
                                                    <a href="" class="btn btn-danger">
                                                        <i class="fas fa-trash" title="Delete User"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Combo</td>
                                                <td>UPSSSC JE Civil eng Lecture - 1</td>
                                                <td>Rs.2000</td>
                                                <td>Rs.1500</td>
                                                <td>012345</td>
                                                <td>21 Feb 2021</td>
                                                <td>21 March 2021</td>
                                                <td>
                                                    <label class="switch">
                                                   <input type="checkbox" checked="">
                                                   <span class="slider round"></span>
                                                </label>
                                                </td>
                                                <td class="text-right">
                                                    <a href="" class="btn btn-primary">
                                                        <i class="fas fa-eye" title="View User"></i>
                                                    </a>
                                                    <a href="" class="btn btn-success">
                                                        <i class="fas fa-edit" title="Edit User"></i></a>
                                                    <a href="" class="btn btn-danger">
                                                        <i class="fas fa-trash" title="Delete User"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Combo</td>
                                                <td>UPSSSC JE Civil eng Lecture - 1</td>
                                                <td>Rs.2000</td>
                                                <td>Rs.1500</td>
                                                <td>012345</td>
                                                <td>21 Feb 2021</td>
                                                <td>21 March 2021</td>
                                                <td>
                                                    <label class="switch">
                                                   <input type="checkbox" checked="">
                                                   <span class="slider round"></span>
                                                </label>
                                                </td>
                                                <td class="text-right">
                                                    <a href="" class="btn btn-primary">
                                                        <i class="fas fa-eye" title="View User"></i>
                                                    </a>
                                                    <a href="" class="btn btn-success">
                                                        <i class="fas fa-edit" title="Edit User"></i></a>
                                                    <a href="" class="btn btn-danger">
                                                        <i class="fas fa-trash" title="Delete User"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Combo</td>
                                                <td>UPSSSC JE Civil eng Lecture - 1</td>
                                                <td>Rs.2000</td>
                                                <td>Rs.1500</td>
                                                <td>012345</td>
                                                <td>21 Feb 2021</td>
                                                <td>21 March 2021</td>
                                                <td>
                                                    <label class="switch">
                                                   <input type="checkbox" checked="">
                                                   <span class="slider round"></span>
                                                </label>
                                                </td>
                                                <td class="text-right">
                                                    <a href="" class="btn btn-primary">
                                                        <i class="fas fa-eye" title="View User"></i>
                                                    </a>
                                                    <a href="" class="btn btn-success">
                                                        <i class="fas fa-edit" title="Edit User"></i></a>
                                                    <a href="" class="btn btn-danger">
                                                        <i class="fas fa-trash" title="Delete User"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>