<div class="container-fluid">
    <h1 class="my-4 text-primary">Add Category</h1>


    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span><i class="fas fa-user" aria-hidden="true"></i>
                        Create New Category
                    </span>
                    <a routerLink="/admin/products/add-course" class="btn text-white btn-success rounded-pill px-3">
                        <i class="fas fa-plus-circle" aria-hidden="true"></i> Add More</a>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="label-control">Upload Course Image*</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="label-control">Course Name*</label>
                                <input type="" name="" placeholder="Enter Course Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="label-control">Select Category*</label>
                                <select type="" name="" class="form-control" tabindex="-98">
                                    <option>Free Courses</option>
                                    <option>Paid Courses</option>
                                    <option>Combo Courses</option>
                                    <option>Subcription Courses</option>
                                    <option>Blog</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="label-control">Code*</label>
                                <input type="" name="" placeholder="Enter Code" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <a href="" class="btn btn-primary">Save</a>
                <a href="" class="btn btn-theme2">Reset</a>
            </div>

        </div>

    </div>
</div>