<div class="container-fluid">
    <h1 class="my-4 text-primary">Refund Policy</h1>


    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span><i class="fas fa-user" aria-hidden="true"></i>
                        Refund Policy</span>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="label-control">Title</label>
                                <input type="" name="" placeholder="Enter Title" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="label-control">Status*</label>
                                <select type="" name="" class="form-control" tabindex="-98">
                                    <option>Enabled</option>
                                    <option>Disabled</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="label-control">Video Description*</label>
                                <ckeditor data="<h4>Here goes the initial content of the editor.!</h4>"></ckeditor>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <a href="" class="btn btn-primary">Update</a>
                <a href="" class="btn btn-theme2">Reset</a>
            </div>

        </div>

    </div>
</div>