.top-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-left: 0;
    background-color: #03506F;
    padding-top: 0;
    padding-bottom: 0;
    height: 56px;
    z-index: 5;
}

.top-nav a.navbar-brand {
    width: 225px;
    padding: 0.2rem 1rem;
    margin: 0;
    background-color: #fff;
    text-align: center;
}

.hamberger {
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

li.nav-item.dropdown.show>a {
    color: #fff;
}

.svg-inline--fa.fa-fw {
    width: 1.25em;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.dropdown-menu-right svg {
    width: .875em;
}