<div class="header">
    <nav class="top-nav sb-topnav navbar navbar-expand">
        <a class="navbar-brand" routerLink="/admin">
            <img src="./assets/images/logo.png" class="img-fluid" width="110">
        </a>

        <button class="hamberger btn btn-link btn-sm order-1 order-lg-0" (click)="showhideMenu()">
            <i class="fa fa-bars"></i>
        </button>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i> Username</a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" routerLink="/auth/login">
                        <i class="fas fa-user mr-1"></i> My Profile</a>

                    <a class="dropdown-item" routerLink="settings">
                        <i class="fas fa-cog mr-1"></i> Setting</a>
                    <a class="dropdown-item" routerLink="/auth/login">
                        <i class="fas fa-sign-out-alt mr-1"></i> Logout</a>
                </div>
            </li>
        </ul>
    </nav>
</div>