<div class="container-fluid">
    <h1 class="my-4 text-primary">Add Course</h1>


    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span><i class="fas fa-user" aria-hidden="true"></i>
                        Live Videos</span>
                    <a routerLink="/admin/products/add-course" class="btn text-white btn-success rounded-pill px-3">
                        <i class="fas fa-plus-circle" aria-hidden="true"></i> Add Course</a>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="label-control">Image*</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="label-control">Course Title*</label>
                                <input type="" name="" placeholder="Enter Course Title" class="form-control">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="label-control">Course Category*</label>
                                <select class="form-control" tabindex="-98">
                                    <option>Live</option>
                                    <option>Recorded</option>
                                    <option>Docs</option>
                                    <option>Pdf</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label class="label-control">Add Description*</label>
                                <textarea type="" name="" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="label-control">Original Price*</label>
                                <input type="" name="" placeholder="Enter Price" class="form-control">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="label-control">Offer Price*</label>
                                <input type="" name="" placeholder="Enter Price" class="form-control">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="label-control">Trainer Name*</label>
                                <input type="" name="" placeholder="Enter Trainer Name" class="form-control">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="label-control">Date</label>
                                <input type="" name="" placeholder="02/02/2021" class="form-control">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="label-control">Time</label>
                                <input type="" name="" placeholder="03:00 pm" class="form-control">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label class="label-control">Video Category*</label>
                                <select class="selectpicker form-control" multiple tabindex="-98">
                                    <option>Recorded</option>
                                    <option>Live</option>
                                    <option>Downloaded</option>
                                  </select>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <a href="" class="btn btn-primary">Save</a>
            <a href="" class="btn btn-theme2">Reset</a>
        </div>

    </div>
</div>