<div class="sidebar" id="layoutSidenav">
    <div class="layoutSidenav_nav" id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Interface</div>

                    <ng-container *ngFor="let menu of menus">
                        <ng-container *ngIf="!menu.hasSubMenu">
                            <a class="nav-link" routerLink={{menu.link}} routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                <div class="sb-nav-link-icon" [innerHTML]="menu.svg |sanitizeHtml">

                                </div>
                                {{menu.title}}
                            </a>
                        </ng-container>


                        <ng-container *ngIf="menu.hasSubMenu==true">
                            <a class="nav-link collapsed" data-toggle="collapse" href="#{{menu.link}}" role="button" aria-expanded="false" [attr.aria-controls]="menu.link">
                                <div class="sb-nav-link-icon" [innerHTML]="menu.svg |sanitizeHtml">
                                </div>

                                {{menu.title}}
                                <div class="sb-sidenav-collapse-arrow"><svg class="svg-inline--fa fa-angle-down fa-w-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
                                    <!-- <i class="fas fa-angle-down"></i> --></div>
                            </a>
                            <div class="collapse" id={{menu.link}}>
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngFor="let submenu of menu.subMenus" class="nav-link" routerLink={{submenu.link}}>{{submenu.title}}</a>
                                </nav>
                            </div>
                        </ng-container>

                    </ng-container>
                </div>
            </div>
            <div class="sb-sidenav-footer text-primary">
                <div class="small">Logged in as:</div>
                Admin Username
            </div>
        </nav>
    </div>
</div>